@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Luxurious Roman', cursive;
    padding: 60px;
}
h3{
    font-size: 30px;
    line-height: 10px;
    
}
h1{
    font-size: 50px;
}
.first-section{
    display: flex;
}
.half{
    width: 50%;
}
.half img{
    width: 80%;
}
a{
    text-decoration: none;
    background-color: rgb(226, 33, 139);
    color: white;
    padding: 10px;
    border-radius: 15px; 
}
.logo{
    display: flex;
    justify-content: space-between;
}
