@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Luxurious Roman', cursive;
    padding: 60px;
}
h3{
    font-size: 30px;
    line-height: 10px;
    
}
h1{
    font-size: 50px;
}
.first-section{
    display: flex;
}
.half{
    width: 50%;
}
.half img{
    width: 80%;
}
a{
    text-decoration: none;
    background-color: rgb(226, 33, 139);
    color: white;
    padding: 10px;
    border-radius: 15px; 
}
/* logo start */
/* .logo{
    display: flex;
    justify-content: space-evenly;
}
*/
h2{
    font-size: 40px;
    text-align: center;
} 
/* logo end  */


/* --------blogs start--------- */
.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.blogs{
    box-shadow: 2px 2px 2px 2px gray;
    padding-left: 10px;
    padding-top: 10px;
}

.blogs:hover{
    transform: translateY(20px);
    transition: 0.7s;
}
.blog-title{
   font-size: 25px;
}
.blog-ratings{
    display: flex;
    align-items: center;
    
}
.fas{
    color: rgb(238, 175, 15);
}
/* ..........footer start........ */

.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: navy;
    padding: 20px 0px;
}
.footer-title{
    color: white;
    text-align: center;
} 
.footer-title h5{
    font-size: 20px;
}
.footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
} 
.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

/* ........media query start....... */
/* .......
media query for small device........ */


@media only screen and (max-width:700px){
   .half img{
    
       top: 0 auto;
   }
    .blog{
        grid-template-columns: repeat(1,1fr);
    }
    /* .logo{
        grid-template-columns: repeat(3,1fr);
        flex-direction: column; 
    } */
}
/* ....tablet device.... */
@media only screen and (min-width:700px)and (max-width:1000px){
    .blog{
        grid-template-columns: repeat(2,1fr);
}
}